body {
	background-color: white;
	font-family: Trebuchet MS;
}

h2 {
	font-size:12
	text-weight:bold;
}

div {
	margin-top:4px;
	margin-bottom:100px
	margin-right:20px
	margin-left:20px;
}

.left {
	text-align:left;
	height:100vh;}

.coverphoto {
	background-size:cover;
}