body {
	background-color: white;
	font-family: Trebuchet MS;
}

h2 {
	font-size:12
	text-weight:bold;
}

div {
	margin-top:4px;
	margin-bottom:100px
	margin-right:20px
	margin-left:20px;
}

.left {
	text-align:left;
	height:100vh;}

li a:hover {
    background-color: pink;
}

.quote {
	text-align:center;
	font-size:25;
	font-style:oblique;
	font-family:Georgia;
}

.pagename {
	color: #Ff0066;
	font-size:30;
	font-family:Georgia;
}

.subheading {
	color:#283739;
}

.fa{
	text-align:center;
}

.emailme{
	text-align:left;
	font-size:12;
}